
.home-links a{
    font-size: 30px;
    color: black;
    display: flex;
    text-align: left;
    margin-left: 2rem;
}
.home-links p{
    display: flex;
    text-align: left;
    padding-bottom: 1rem;
    margin-left: 1rem;
}
